<header>
    <img 
    src=""
    alt="Lucas Mesquita - foto de perfil"
    width="130px"
    height="130px"
    loading="eager" />
    <h1>Lucas Mesquita</h1>
</header>

<aside>
    <div class="container">
        <p>Back-end Java | Angular | Spring boot | Quarkus | AWS | Docker | Git | SQL | NoSQL | SOLID</p>
        <p>Recife, Pernambuco, Brasil</p>
        <p>Atuo na área de desenvolvimento há mais de 5 anos. Com vasto conhecimneto na área de backend na stack de Java
            e conhecimneto médio de Angular, estou sempre em busca de aprimorar meus conhecimentos para me tornar Full-Stack
        </p>

        <nav>
            <ul>
                <li>
                    <a href="" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                    <a href="https://www.linkedin.com/in/lucas-mesquita-oliv/" target="_blank" class="btn btn-secondary">
                        Linkedin
                    </a>
                </li>
            </ul>
        </nav>
    
        <section>
            <figure>
                <img src=""
                    alt="Ícone para contato do whatsapp"
                    width="22px"
                    height="24px"/>
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5581XXXXXXXX"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (81) XXXXX-XXXX</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src=""
                    alt="Ícone para contato do whatsapp"
                    width="22px"
                    height="24px"/>
                <figcaption>
                    <a href="mailto:lucas.lmso@gmail.com"
                        target="_blank">
                        <strong>Envie uma e-mail para:</strong>
                        <p>lucas.lmso&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
