:root {
    --primary: #06628a;
    --primary-010: #06374e;
  
    --secondary: #068a4c;
    --secondary-010: #064e3c;
    --secondary-030: #1c85b6;
  
    --white: #fff;
  
    --black: #2f2f33;
    --black-010: #252527;
  
    --grey: #9b9ba0;
  }